%table.table{"data-sortable" => "", "data-sortable-initialized" => "true"}
  %thead
    %tr
      %th Priority
      %th Dimention
      %th Title
      %th Weight
      %th Check Factor
      %th Edit
    %tbody
      = render factors
