.content
  .page-heading
  .row
    .col-sm-6.portlets
      .widget
        .widget-header.transparent
          %h2
            %strong Factor
            Form
          .additional-btn
            %a.hidden.reload{:href => "#"}
              %i.icon-ccw-1
            %a.widget-toggle{:href => "#"}
              %i.icon-down-open-2
            %a.widget-close{:href => "#"}
              %i.icon-cancel-3
        .widget-content.padding
          = render "form"
