%table.table{"data-sortable" => "", "data-sortable-initialized" => "true"}
  %thead
    %tr
      %th No
      %th{"data-sortable" => "false", :style => "width: 30px"}
        .icheckbox_square-aero{"aria-checked" => "false", "aria-disabled" => "false", :style => "position: relative;"}
          %input.rows-check{:style => "position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;", :type => "checkbox"}
            %ins.iCheck-helper{:style => "position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"}
      %th Title
      %th Weight
      %th Check Dimentions
      %th Edit
    %tbody
      = render priorities
