%h1 Listing Companies
%br
.widget-content
  .table-responsive
    %table.table.table-hover.table-striped{"data-sortable" => ""}
      %thead
        %tr
          %th Name
          %th Address
          %th City
          %th Phone
      %tbody
        = render @companies
    
%br

= link_to 'new Company', new_company_path
