%table.table{"data-sortable" => "", "data-sortable-initialized" => "true"}
  %thead
    %tr
      %th Priority
      %th Title
      %th Weight
      %th Check Dimentions
      %th Edit
    %tbody
      = render dimentions
