.row
  .col-md-12
    .widget
      .widget-header.transparent
        %h2
          %strong AMT Type
           
        .additional-btn
          %a.hidden.reload{:href => "#"}
            %i.icon-ccw-1
          %a.widget-toggle{:href => "#"}
            %i.icon-down-open-2
          %a.widget-close{:href => "#"}
            %i.icon-cancel-3
      .widget-content
        .data-table-toolbar
          .row
            .col-md-1
              .toolbar-btn-action
                = link_to ' Add New', new_amt_type_path ,class: "a btn btn-success i fa fa-plus-circle "
     
        .table-responsive
          %table.table.table-hover.table-striped{"data-sortable" => ""}
            %thead
              %tr
                %th Title
               
            %tbody
              = render @amt_types